# --- Runtime ---
NODE_ENV=development
PORT=3000

# --- Auth ---
JWT_SECRET=iihgsC1aSJds6AKmUJ1dCCDnP+Ia4ISNkTSsrOeDfZ7kYG2FEmuYI8Be5XaLyJRH
JWT_EXPIRES_IN=15m

# --- DB (Postgres) ---
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dms
